.title-lg {
  font: var(--title-lg-asap);
  color: var(--gray-600);
}

.subtitle {
  font: var(--subtitle-inconsolata);
  color: var(--gray-500);

  & span {
    color: var(--red);
  }
}

.text-sm {
  font: var(--text-sm-maven-pro);
  color: var(--gray-400);
}

.text-md {
  font: var(--text-md-maven-pro);
}

.icon-red {
  color: var(--red);
}