.title-lg {
  font: var(--title-lg-asap);
}

.title-md {
  font: var(--title-md-asap);
}

.subtitle {
  font: var(--subtitle-inconsolata);
  
}

.text-sm {
  font: var(--text-sm-maven-pro);
}

.text-md {
  font: var(--text-md-maven-pro);
}

.color-gray-400 {
  color: var(--gray-400);
}

.color-gray-500 {
  color: var(--gray-500);
}

.color-gray-600 {
  color: var(--gray-600);
}

.color-red, .icon-red {
  color: var(--red);
}

